body{
  text-align: center;
  background-color: #fae6f5;
  font-family: cursive;
}
h1{
  padding: 6% 7% 4%;
  font-weight: bold;
  color: #31087B;
  font-size: 3.5rem;
  text-shadow: 2px 2px #73777B;
}
h2{
  padding-bottom: 4%;
  color: #73777B;
  font-size: 1.5rem;
  text-shadow: 1px 1px #31087B;
}
h3{
  padding: 7% 7% 4%;
  font-weight: bold;
  color: #31087B;
  font-size: 2rem;
  text-shadow: 1px 1px #73777B;
}
a{
  text-decoration: none;
}
.images{
  height: 200px;
  width: 200px;
}
footer{
  padding: 7%;
  color: #73777B;
    text-shadow: .6px .6px #31087B;
}
